NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cocokin-app.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cocokin-app
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cocokin-app.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1234567890
NEXT_PUBLIC_FIREBASE_APP_ID=1:1234567890:web:abc123def
FIREBASE_ADMIN_PRIVATE_KEY=
FIREBASE_ADMIN_CLIENT_EMAIL=
